obj_dir/
obj_dir*/
work/
transcript
modelsim.ini
vsim.wlf

*.log
*.wlf
*.vcd
*.fst
*.fsdb
*.ucdb

*.o
*.a
*.d
V*.mk
V*.cpp
V*.h

*.mpf
*.mti
*.jou
*.pb
*.db

*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.bak
*.tmp

.vscode/
.idea/
.DS_Store
Thumbs.db
